<%- include("partials/header", { bot, user, path, title: "Dashboard" }) %>
<div class="wrapper">
  <div class="page-header">
    <div class="content">
      <div class="container">
        <div class="row">
  <table class="table">
    <tbody>
      <% user.guilds.forEach(guild => {
        const permsOnGuild = new perms(guild.permissions);
        if(!permsOnGuild.has("MANAGE_GUILD")) return;
      %>
        <tr>
            <td></td>
            <% if (!guild.icon) { %>
            <td><img class="img-fluid rounded-circle shadow" src="https://preview.redd.it/nx4jf8ry1fy51.gif?format=png8&s=a5d51e9aa6b4776ca94ebe30c9bb7a5aaaa265a6" width="50" height="50"></td>
            <% } else { %>
            <td><img class="img-fluid rounded-circle shadow" src="https://cdn.discordapp.com/icons/<%= guild.id %>/<%= guild.icon %>" width="50" height="50"></td>
            <% } %>
            <td><%= guild.name %></td>
            <td></td>
            <td></td>
            <% if (bot.guilds.cache.get(guild.id)) { %>
            <td class="td-actions text-right">
                <a class="btn btn-primary btn-sm" href="/dashboard/<%= guild.id %>">Edit Settings</a>
            </td>
            <% } else { %>
              <%
              let discordCallbackURL = ""
              if (process.env.DASHBOARD_REVERSE_PROXY === 'true') {
                discordCallbackURL = `${process.env.DASHBOARD_DOMAIN}`
              } else {
                discordCallbackURL = `${process.env.DASHBOARD_DOMAIN}:${process.env.DASHBOARD_PORT}`
              }
              console.log(discordCallbackURL)
              %>
            <td class="td-actions text-right">
              <a class="btn btn-default btn-sm" href="<%= `https://discordapp.com/oauth2/authorize?client_id=${bot.user.id}&scope=bot&guild_id=${guild.id}&response_type=code&redirect_uri=${encodeURIComponent(`${discordCallbackURL}/callback`)}` %>">Add Bot</a>
            </td>
            <% } %>
        </tr>
        <% }); %> 
    </tbody>
</table>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include("partials/footer") %>