<%- include("partials/header", { bot, user, path, title: "Home" }) %>
<div class="wrapper">
  <div class="page-header">
    <div class="content">
      <div class="container">
        <% if (alert) { %>
          <!--<div class="alert alert-primary" role="alert"><%= alert %></div>-->
          <div class="alert alert-primary">
            <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close"><i class="tim-icons icon-simple-remove"></i></button>
            <span><%= alert %></span>
        </div>
        <% } %>
          <div class="card">
            <h4 class="card-title"><%= guild.name %></h4>
            <div class="card-body">
              <form method="POST">
                <div class="form-group">
                  <!-- Prefix -->
                  <label for="<%= settings.prefix %>">Prefix</label>
                  <input type="text" class="form-control" id="<%= settings.prefix %>" name="prefix" value="<%= settings.prefix %>" placeholder="Enter prefix" required>
                  <!-- Logging Channel -->
                  <label for="<%= settings.logChannelID %>">Logging Channel</label>
                  <select type="text" class="form-control" id="<%= settings.logChannelID %>" name="logChannelID" value="<%= settings.logChannelID %>" placeholder="Enter logChannelID">
                    <option style="background-color:#171941;" value="">-- select an option --</option>
                    <% guild.channels.cache.forEach(channel => {
                      if(channel.type !== 'text') return; 
                      if(channel.id === settings.logChannelID){
                    %>
                    <option style="background-color:#171941;" selected value="<%= channel.id %>">#<%= channel.name %></option>
                    <% } else { %> 
                    <option style="background-color:#171941;" value="<%= channel.id %>">#<%= channel.name %></option>
                    <% }}); %> 
                  </select>
                  <!-- Welcome Channel -->
                  <label for="<%= settings.welcomeChannelID %>">Welcome Channel</label>
                  <select type="text" class="form-control" id="<%= settings.welcomeChannelID %>" name="welcomeChannelID" value="<%= settings.welcomeChannelID %>" placeholder="Enter welcomeChannelID">
                    <option style="background-color:#171941;" value="">-- select an option --</option>
                    <% guild.channels.cache.forEach(channel => {
                      if(channel.type !== 'text') return; 
                      if(channel.id === settings.welcomeChannelID){
                    %>
                    <option style="background-color:#171941;" selected value="<%= channel.id %>">#<%= channel.name %></option>
                    <% } else { %> 
                    <option style="background-color:#171941;" value="<%= channel.id %>">#<%= channel.name %></option>
                    <% }}); %> 
                  </select>
                </div>
                <button type="submit" class="btn btn-primary">Save Settings</button>
              </form>
            </div>
        </div>
      </div> 
  </div>
</div>
<%- include("partials/footer") %>
